.link-unstyled {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled:link {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.input-unstyled {
    background: rgba(0, 0, 0, 0);
    border: none;
}

.special-width {
    width: inherit;
}