/* line 5, app/assets/stylesheets/exercises.scss */
.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

/* line 10, app/assets/stylesheets/exercises.scss */
.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}

/* line 15, app/assets/stylesheets/exercises.scss */
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

/* line 20, app/assets/stylesheets/exercises.scss */
.input-unstyled {
  background: rgba(0, 0, 0, 0);
  border: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

.link-unstyled {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled:link {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.input-unstyled {
    background: rgba(0, 0, 0, 0);
    border: none;
}
