/* line 5, app/assets/stylesheets/exercises.scss */
.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

/* line 10, app/assets/stylesheets/exercises.scss */
.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}

/* line 15, app/assets/stylesheets/exercises.scss */
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

/* line 20, app/assets/stylesheets/exercises.scss */
.input-unstyled {
  background: rgba(0, 0, 0, 0);
  border: none;
}
