<div class="modal fade" id="addNodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vlozenie cviku</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag add_node_path, method: :post, class: "" do %>
        <div class="modal-body">
          <input value="<%= @exercise.id %>" name="id" type="hidden"/>
          <div class="form-group border px-1 py-1">
            <div class="form-group row">
              <p class="col-4 text-center mx-2 my-2">Nazov cviku</p>
              <input class="form-control text-center col-7 input-unstyled" name="title" type="text">
            </div>
            <div class="form-group row">
              <p class="col-4 text-center mx-2 my-2">Vaha</p>
              <input class="form-control text-center col-7 input-unstyled" name="weight" type="text">
            </div>
            <div class="form-group row">
              <p class="col-4 text-center mx-2 my-2">Opakovania</p>
              <input class="form-control text-center col-7 input-unstyled" name="series" type="text">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavriet</button>
          <button type="submit" class="btn btn-primary f">Pridat</button>
        </div>
      <% end %>
    </div>
  </div>
</div>