<main role="main" class="container bg-white py-5">

  <div class="starter-template cover-container d-flex h-100 p-3 mx-auto flex-column">
    <h1>ExerNote</h1>
    <p class="lead"><%= t('auth_description') %></p>
  </div>

</main>
