<header>
  <nav class="navbar navbar-inverse navbar-dark  bg-dark">

    <ul class="nav navbar-left">
      <li><a class="navbar-brand" href="/">Zoznam</a></li>
      <li><a class="navbar-brand" href="/exercise/new">Pridat</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Prihlasit sa</a></li>
    </ul>

  </nav>
</header>