<header>
  <nav class="navbar navbar-inverse navbar-dark  bg-dark">

    <ul class="nav navbar-left">
      <li><a class="navbar-brand" href="/">Zoznam</a></li>
      <li><a class="navbar-brand" href="<%= new_exercise_path %>">Pridať</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <button type="button" class="input-unstyled navbar-brand" data-toggle="modal" data-target="#loginModal">
          Prihlasiť sa
        </button>
      </li>
    </ul>

    <%= render 'users/login' %>

  </nav>
</header>